@{
ViewData["Title"] = "Home Page";
}
<h1>Method1</h1>
<p>TempData :</p>
<p>@TempData["Name"]</p>
<div>
  <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Method2">Go to Method2</a>
</div>
