* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
 font-size: 16px;
 line-height: 1.5;
}

/*img {*/
/*  max-width: 100%;*/
/*}*/

h1, h2 {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}

.container {
  padding: 0 30px;
}

.navbar {
  height: 80px;
  margin-bottom: 45px;
  padding: 5px 35px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 135px;
  height: 56px;
  background-color: rgba(0, 0, 0, 0);

}

.navbar .nav {
  display: flex;
  height: 30px;
}
.navbar ul li {
  margin-left: 21px;
}
.navbar a {
  /*margin: 18.5px 0 7.2px 604px;*/
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-decoration: none;
  color: #004b95;
}

.navbar a:hover {
  color: #e5cf30;
}

header {
  text-align: center;
  margin: 25px 0 35px 35px ;
}

.Vision-and-Philosophy {
  height: 39.3px;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.23;
  letter-spacing: -0.41px;
  color:  #2E5A88;
}

.Whatever-it-takes {
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.18;
  color: #004b95;
}

.One-attitude-that-sums-us-up-Its-been-there-since-our-founder {
  margin: auto;
  width: 763px;
  height: 50px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.39;
  color: #333;
}

.section-1 {
  background-color: #d8d8d8;
}

.section-1 .container {
  font-size: 18px;
  text-align: center;
  padding: 49px 134px 65px 136px;
  height: 100%;
  width: 100%;
}

.Fact-and-Figures {
  margin-bottom: 11px;
  height: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: #004b95;
}

.The-Uks-largest-dis {
  margin: 11px 0 35px 0;
  height: 18px;
  color: #333;
}

.section-1 .boxes {
  width: 968px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 290px;
  margin: 0 16px 9.7px 0.2px;
  padding: 32px 80.3px 24.9px 79.7px;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}

.section-2 {
  background-color: #004b95;
  opacity: 0.75;
}

.section-2 .container {
  height: 100%;
  width: 800px;
  margin-left: 0;
  padding: 49px 134px 65px 136px;
  color: white;
}

.section-2 .container h1 {
  margin: 25px;
  font-size: 45px;
}

.section-2 .container > div {
  font-size: 17.5px;
  margin: 25px;
  letter-spacing: 0.5px;
}

.section-2 .container .hr {
  display: block;
  border: 3px solid white;
  width: 100px;
  margin-left: 25px;

}

.section-2 .container .div-1 {
  color: yellow;
} 

/* Section 3 */

.section-3 {
  background-color: #004b95;
  opacity: 0.75;
}

.section-3 .container {
  height: 100%;
  width: 800px;
  margin-left: auto;
  margin-right: 0;
  padding: 49px 134px 65px 136px;
  color: white;
}

.section-3 .container h1 {
  margin: 25px;
  font-size: 45px;
}

.section-3 .container > div {
  font-size: 17.5px;
  margin: 25px;
  letter-spacing: 0.5px;
}

.section-3 .container .hr {
  display: block;
  border: 3px solid white;
  width: 100px;
  margin-left: 25px;

}

.section-3 .container .div-1 {
  color: yellow;
} 

.container-4 {
  margin: 15px 120px ;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.container-4 .img {
  width: 160px;
}

.footer-1 {
  background-color: #004b95;
  opacity: 0.8;
  color: white;
}

.footer-1 .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 15px 120px;
  padding: 20px;
}

.footer-1 .container div {
 padding: 10px; 
 margin: 15px;
 width: 200px;
}

.footer-1 ul li {
  font-size: 17px;
  padding: 2px 0;
}

.footer-1 ul li:nth-child(1) {
  text-transform: uppercase;
  color: yellow;
  font-weight: bold;
  letter-spacing: 2.5px;
}

.footer-2 .container {
  color: #004b95;
  display: flex;
  align-items: center;
}

.footer-2 .container .div-1 {
  width: 70%;
  padding: 5px 0;
}

.footer-2 .container .div-2 {
  display: flex;
  justify-content: space-evenly;
}

@media(max-width: 768px) {
  .One-attitude-that-sums-us-up-Its-been-there-since-our-founder {
    width: 500px;
    height: auto
  }

  .The-Uks-largest-dis {
    height: auto
  }
  
  .section-1 .boxes {
    flex-direction: column;
  }


}
