@model EmployeeViewModel

<b>Employee List</b>
<br>
<br>
<div class="container">
  @Html.Partial("_Employees", Model.Employees)
</div>
<!--<!DOCTYPE html>-->

<!--<html>-->

<!--<head>-->
<!--  <meta name="viewport" content="width=device-width" />-->
<!--  <title>EmployeeList</title>-->
<!--</head>-->

<!--<body>-->
<!--</body>-->

<!--</html>-->
