@model NS.EMS.Model.EmployeeModel

<h1>Index</h1>
<form asp-controller="Employee" asp-action="Create" method="post">
  <div class="text-center">
    <input asp-for="FirstName" type="text" placeholder="FirstName">
    <input asp-for="LastName" type="text" placeholder="LastName">
    <input asp-for="Age" placeholder=" Age">
    <button type="submit">Submit</button>
  </div>
</form>
