@model List<NS.CMS.Data.Entities.Candidate>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>
<body>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      @foreach( var item in Model)
      {
      <tr>
        <td scope="row">@item.Id</td>
        <td><a asp-controller="Candidate" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></td>
      </tr>
      }
    </tbody>
  </table>
  <br>
  @Html.ActionLink("Add New Candidate", "Create")
</body>
</html>
